<div class="container">
    <div class="row">

        <section id="contact">
            <div id="divcontact">
                <div class="col-md-9">
                    <h1> Dennis Gonzalez</h1>
                    <h2>
                        Software Engineer (Web Developer)
                    </h2>
                    <div class="address">
                        <p>6212 W Montrose Ave Apt 1GS<br> Chicago IL 60634</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> : 773 312 0854</p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> : dennisgzlz88@gmail.com</p><br>
                    </div>
                    <div>
                        <a class=" col-md-2 " href=" https://github.com/Crash1988"><i class="fa fa-github fa-3x elemt-Link" aria-hidden="true"></i> </a>
                        <a class=" col-md-2" href="https://www.freecodecamp.com/crash1988"><i class="fa fa-free-code-camp fa-3x elemt-Link" aria-hidden="true"></i></a>
                        <a class=" col-md-2" href="https://www.facebook.com/dennisgzlz88"><i class="fa fa-facebook fa-3x elemt-Link" aria-hidden="true"></i></a>
                        <a class=" col-md-2" href="https://twitter.com/dennisgzlz88"><i class="fa fa-twitter fa-3x elemt-Link" aria-hidden="true"></i></a>
                        <a class=" col-md-2" href="https://www.linkedin.com/in/dennis-gonzalez-alayon-b0ab95103/ "><i class="fa fa-linkedin fa-3x elemt-Link" aria-hidden="true"></i></a>
                        <a class=" col-md-2" href="http://stackoverflow.com/users/5848063/dennis-gonzalez"><i class="fa fa-stack-overflow fa-3x elemt-Link" aria-hidden="true"></i></a>


                    </div>
                </div>

                <div class="thumbnail col-md-3" id="imgperfil">
                    <img class="img img-responsive" src="https://image.ibb.co/cqP6t5/perfil.jpg" data-load="full">
                </div>
            </div>


        </section>
        <section id="about">
            <div id="divabout">
                <br>
                <p class="text-justify">Former Software Developer at Desoft S.A. worked on several web applications like InfoPc a web app to manage and control all electronic resources of the electric company. working with frameworks like CodeIgniter, ExtJS, Bootstrap, using
                    MySql database. Lately i have been involved in asp.net projects using angular2 as front end framework. Also developed several websites were made in Wordpress like http://comunitaca.cult.cav.cu which is responsible site for management
                    and control of the cultural centers in the state of Ciego de Avila, Cuba. Made also http://avilarte.cult.cav.cu another website that was responsible for the management and control of the art galleries in Ciego de Avila, in 2015 I moved
                    to Chicago so i am trying to continue learning here, qualified and motivational person with excellent relationship, problem solving, organisational and team building skills. Able to communicate well at all levels, adapt to any given
                    situation and can maintain both focus and motivation throughout.
                </p>
                <h3><strong>Experience</strong></h3>
                <p>Information System Engineer at DESOFT S. A, Cuba September, 2012 - July, 2015 <br> Web Developer at Bleu Wire since january 2017
                </p>
                <h3><strong>Education</strong></h3>
                <p>
                    Universidad de las Ciencias Informáticas (Habana, Cuba)<br> Bsc (Engineering) in Informatics Sciences, Information System, 2007 – 2012 <br><strong>Grade:</strong> Bsc
                </p>
                <p>

                    <a href="https://www.freecodecamp.com/crash1988">FreecodeCamp</a><br> Front-End Web Developer, 2017 <br>
                </p>

                <h3><strong>Skills & Expertise </strong></h3>
                <table class="table table-striped" id="skills">
                    <thead>
                        <tr>
                            <th class="col-md-8">Language/framework</th>
                            <th class="col-md-4">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>MVC Architecture </td>
                            <td>8 Years</td>
                        </tr>
                        <tr>
                            <td>ASP.NET MVC </td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>C# </td>
                            <td>2 Years</td>
                        </tr>
                        <tr>
                            <td>HTML5</td>
                            <td>4 Years</td>
                        </tr>
                        <tr>
                            <td>CSS</td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>JAVASCRIPT</td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>Ajax</td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>Angular 2</td>
                            <td>1 Years</td>
                        </tr>
                        <tr>
                            <td>LINQ</td>
                            <td>2 Years</td>
                        </tr>
                        <tr>
                            <td>Bootstrap</td>
                            <td>2 Years</td>
                        </tr>
                        <tr>
                            <td>Git</td>
                            <td>1 Years</td>
                        </tr>
                        <tr>
                            <td>MySQL</td>
                            <td>4 Years</td>
                        </tr>
                        <tr>
                            <td>Database Design </td>
                            <td>4 Years</td>
                        </tr>
                        <tr>
                            <td>Microsoft SQL Server </td>
                            <td>2 Years</td>
                        </tr>
                        <tr>
                            <td>PostgreSQL </td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>CodeIgniter</td>
                            <td>4 Years</td>
                        </tr>
                        <tr>
                            <td>Ext JS </td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>PHP</td>
                            <td>3 Years</td>
                        </tr>
                        <tr>
                            <td>Linux System Administration </td>
                            <td>1 Year</td>
                        </tr>
                        <tr>
                            <td>Microsoft Server Platforms</td>
                            <td>1 Year</td>
                        </tr>
                        <tr>
                            <td>WordPress</td>
                            <td>1 Year</td>
                        </tr>
                        <tr>
                            <td>Mathematics</td>
                            <td>2 Years</td>
                        </tr>
                        <tr>
                            <td>Project Management </td>
                            <td>4 Years</td>
                        </tr>
                        <tr>
                            <td>Software Engineering </td>
                            <td>4 Years</td>
                        </tr>
                        <tr>
                            <td>Software Development</td>
                            <td>6 Years</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="portfolio">
            <div class="row">
                <h1 class="portfolioText">Portfolio</h1>
                <div class="col-sm-6 col-md-4  imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/GmyrYB/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/fDnyha/fisher.jpg" alt="Boby Fisher" />
                        <h3 class="cornerLink"><strong>Boby Fisher</strong></h3>
                    </a>

                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/qmKLEB/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/kz6kcv/random_Quote.jpg" alt="Random Quote" />
                        <h3 class="cornerLink"><strong>Random Quote Machine</strong></h3>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/vmajbm/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/heyOxv/Weather_App.jpg" alt="Weather App" />
                        <h3 class="cornerLink"><strong>Weather App</strong></h3>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/oWReKe/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/mPBtxv/Wiki_App.jpg" alt="Wiki App" />
                        <h3 class="cornerLink"><strong>Wiki App</strong></h3>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/mwyxOq/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/chKJVF/Twitch_Tv_App.jpg" alt="Twitch_Tv_App" />
                        <h3 class="cornerLink"><strong>TwitchTv App</strong></h3>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/jwMPoP/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/mZ92qF/Tictactoe.jpg" alt="Tictactoe" />
                        <h3 class="cornerLink"><strong>Tic Tac Toe</strong></h3>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/MomVJx/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/dqEJVF/calculator.jpg" alt="calculator" />
                        <h3 class="cornerLink"><strong>Calculator App</strong></h3>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/vZWzQm/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/b0SoVF/Pomodoro_Clock.jpg" alt="Pomodoro_Clock" />
                        <h3 class="cornerLink"><strong>Pomodoro CLock App</strong></h3>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <a href="https://codepen.io/Crash1988/full/XgEmwe/" target=_ blank>
                        <img class="img img-responsive" src="https://image.ibb.co/deJqcv/Simon_App.jpg" alt="Simon_App" />
                        <h3 class="cornerLink"><strong>Simon App</strong></h3>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <img class="img img-responsive" src="https://image.ibb.co/d1t4Na/infopc.jpg" alt="infopc" />
                    <h3 class="cornerLink"><strong>Dental Core</strong>( Development)</h3>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <img class="img img-responsive" src="https://image.ibb.co/d1t4Na/infopc.jpg" alt="infopc" />
                    <h3 class="cornerLink"><strong>InfoPc</strong>(Local install)</h3>
                </div>
                <div class="col-sm-6 col-md-4 imageWrapper">
                    <img class="img img-responsive" src="https://image.ibb.co/d1t4Na/infopc.jpg" alt="AviladocPro" />
                    <h3 class="cornerLink"><strong>Aviladoc Pro</strong>(Local install)</h3>
                </div>
            </div>
        </section>
    </div>
</div>