<h2>Hero Detail</h2>
<h3><i>A FormGroup with multiple FormControls</i></h3>
<form [formGroup]="heroForm" novalidate>
    <div class="row">
        <div class="form-group col-md-12">
            <label class="center-block" for="name1">Name:</label>
            <input class="form-control" formControlName="name" #name1>
            <div *ngIf="heroForm.controls.name.invalid && (heroForm.controls.name.dirty || heroForm.controls.name.touched)" class="alert alert-danger">
                <div *ngIf="heroForm.controls.name.errors.required">
                    Name is required.
                </div>
                <div>
                    Name must be at least 4 characters long.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="center-block" for="email1">Email:</label>
            <input class="form-control" formControlName="email" #email1 [(ngModel)]="password">
            <div *ngIf="heroForm.controls.email.invalid && (heroForm.controls.email.dirty || heroForm.controls.email.touched)" class="alert alert-danger">
                <div *ngIf="heroForm.controls.email.errors.required">
                    email is required.
                </div>
                <div>
                    Wrong email format.
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="center-block" for="email2">Verify Email:</label>
            <input class="form-control" formControlName="email2" #email2>
            <div *ngIf="heroForm.controls.email2.invalid && (heroForm.controls.email2.dirty || heroForm.controls.email2.touched)" class="alert alert-danger">

                <div>
                    Email missmatch.
                </div>
            </div>
        </div>
    </div>
    <div formGroupName="address" class="well well-lg">
        <h4>Secret Lair</h4>
        <div class="form-group">
            <label class="center-block">Street:
          <input class="form-control" formControlName="street">
        </label>
        </div>
        <div class="form-group">
            <label class="center-block">City:
          <input class="form-control" formControlName="city">
        </label>
        </div>
        <div class="form-group">
            <label class="center-block">State:
          <select class="form-control" formControlName="state">
            <option *ngFor="let state of states" [value]="state">{{state}}</option>
          </select>
        </label>
        </div>
        <div class="form-group">
            <label class="center-block">Zip Code:
          <input class="form-control" formControlName="zip">
        </label>
            <div *ngIf="heroForm.controls.address.controls.zip.invalid && (heroForm.controls.address.controls.zip.dirty || heroForm.controls.address.controls.zip.touched)" class="alert alert-danger">
                <div>
                    Wrong Zip code format.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group radio">
        <h4>Super power:</h4>
        <label class="center-block col-md-4"><input type="radio" formControlName="power" value="flight">Flight</label>
        <label class="center-block col-md-4"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
        <label class="center-block col-md-4"><input type="radio" formControlName="power" value="strength">Strength</label>
    </div>
    <div class="checkbox">
        <label class="center-block col-md-12">
      <input type="checkbox" formControlName="sidekick">I have a sidekick.
    </label>
    </div>
</form>
<br/>
<br/>

<input type="button" (click)="clicked()" class="btn btn-info" value="Reset" />

<div class="col-md-12" style="margin-top:30px;">
    <p>Form value: {{ heroForm.value | json }}</p>
    <p>Form status: {{ heroForm.valid | json }}</p>
</div>