p {
    font-family: Lato;
}

.divA {
    height: 100px;
    color: #fff;
    background-color: #0ad;
    margin-bottom: 10px;
    cursor: pointer;
}

.scrollableDiv {
    /*    height: 400px;
    overflow-y: scroll;*/
}