<div class="container">
    <h1>This is Step1</h1>
    <p>Welcome to your new single-page application </p>
    <div class="col-md-6">
        <label for="name">Name:</label>
        <input type="text" #name name="inpu-text" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName1">LastName:</label>
        <input type="text" #lastName1 name="inpu-text1" value="">
    </div>
    <div class="col-md-6">
        <label for="name2">Name:</label>
        <input type="text" #name2 name="inpu-text2" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName3">LastName:</label>
        <input type="text" #lastName3 name="inpu-text3" value="">
    </div>
    <div class="col-md-6">
        <label for="name4">Name:</label>
        <input type="text" #name4 name="inpu-text4" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName5">LastName:</label>
        <input type="text" #lastName5 name="inpu-text5" value="">
    </div>
    <div class="col-md-6">
        <label for="name6">Name:</label>
        <input type="text" #name6 name="inpu-text6" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName7">LastName:</label>
        <input type="text" #lastName7 name="inpu-text7" value="">
    </div>
    <div class="col-md-6">
        <label for="name8">Name:</label>
        <input type="text" #name8 name="inpu-text8" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName9">LastName:</label>
        <input type="text" #lastName9 name="inpu-text9" value="">
    </div>
    <div class="col-md-6">
        <label for="name0">Name:</label>
        <input type="text" #name0 name="inpu-text0" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName11">LastName:</label>
        <input type="text" #lastName11 name="inpu-text11" value="">
    </div>
    <div class="col-md-6">
        <label for="name12">Name:</label>
        <input type="text" #name12 name="inpu-text12" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName13">LastName:</label>
        <input type="text" #lastName13 name="inpu-text13" value="">
    </div>
    <div class="col-md-6">
        <label for="name14">Name:</label>
        <input type="text" #name14 name="inpu-text14" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName15">LastName:</label>
        <input type="text" #lastName15 name="inpu-text15" value="">
    </div>
    <div class="col-md-6">
        <label for="name16">Name:</label>
        <input type="text" #name16 name="inpu-text16" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName17">LastName:</label>
        <input type="text" #lastName17 name="inpu-text17" value="">
    </div>
    <div class="col-md-6">
        <label for="name18">Name:</label>
        <input type="text" #name18 name="inpu-text18" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName19">LastName:</label>
        <input type="text" #lastName19 name="inpu-text19" value="">
    </div>
    <div class="col-md-6">
        <label for="name20">Name:</label>
        <input type="text" #name20 name="inpu-text20" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName21">LastName:</label>
        <input type="text" #lastName21 name="inpu-text21" value="">
    </div>
    <div class="col-md-6">
        <label for="name22">Name:</label>
        <input type="text" #name22 name="inpu-text22" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName23">LastName:</label>
        <input type="text" #lastName23 name="inpu-text23" value="">
    </div>
    <div class="col-md-6">
        <label for="name24">Name:</label>
        <input type="text" #name24 name="inpu-text424" value="">
    </div>

    <div class="col-md-6">
        <label for="lastName25">LastName:</label>
        <input type="text" #lastName25 name="inpu-text25" value="">
    </div>

    <div class="col-md-12" style="margin-top: 30px">
        <input type="button" class="btn btn-success btn-right" value="Next" (click)="NextView()">
    </div>
</div>