<h1>This is Step1</h1>
<p>Welcome to your new single-page application, built with:Denniswow how fast</p>
<div class="col-md-6">
    <label for="name">Name:</label>
    <input type="text" #name name="inpu-text" value="">
</div>

<div class="col-md-6">
    <label for="lastName">LastName:</label>
    <input type="text" #lastName name="inpu-text" value="">
</div>

<div class="col-md-12" style="margin-top: 30px">
    <input type="button" class="btn btn-success btn-right" value="Next" (click)="NextView()">
</div>